__pycache__
_notes_perso/
.venv/
api_credentials_minh.yml
api_extract__transform/outputs/*.json
api_extract__transform/outputs/offres/*.json
node_modules
package-lock.json
package.json

# fichier > 100MB
